.hamburger {
    --rotate-time: .15s;
    --move-time: .1s;
}

.hamburger {
    width: 60px;
    height: 45px;
    position: relative;
}

.hamburger span {
    position: absolute;
    height: 9px;
    width: 100%;
    background: var(--primary-color);
    border-radius: 4.5px;
    left: 0;

}

.hamburger span:nth-child(1) {
    top: 0px;
    rotate: 0;
    transition: translate 0.5s, rotate 0.5s;
}

.hamburger span:nth-child(2) {
    top: 18px;
    transform: translateX(0%);
    transition: transform 0.5s;
}

.hamburger span:nth-child(3) {
    bottom: 0px;
    rotate: 0;
    transition: translate 0.5s, rotate 0.5s;
}


@media screen and (max-width: 880px) {

    .hamburger-nav.active {
        /* transform: scaleY(1);*/
        left: 0;
    }


    .hamburger-nav {
        /* transform: scaleY(0);
        transition: transform 0.5s ease-in-out;
        transform-origin: top;*/
        position: absolute;
        box-sizing: border-box;
        width: 100%;
        left: -100%;
        transition: left 0.5s ease-in-out;


    }

    .hamburger.active span:nth-child(1) {
        /* transform: translateY(18px) rotate(45deg); */
        translate: 0 18px;
        rotate: 45deg;
        transition: translate 0.5s, rotate 0.5s 0.25s;
    }

    .hamburger.active span:nth-child(2) {
        transform: translateX(200%);
        transition: transform 0.5s;
    }

    .hamburger.active span:nth-child(3) {
        translate: 0 -18px;
        rotate: -45deg;
        transition: translate 0.5s, rotate 0.5s 0.25s;
    }

    .hamburger-nav li {
        width: 100%;
        text-align: center;
    }


}




.hamburger-row {
    padding: 1em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.hamburger {
    display: block;
}

.hamburger-nav {
    background-color: var(--white);
}

.hamburger-nav ul {
    margin: 0;
    padding: 1rem;
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    align-items: center;
}

.hamburger-nav li a {
    display: block;
    padding: 0.75em 1em;
    color: #000;
    text-decoration: none;
    font-weight: 500;
    transition: color 0.3s ease, scale 0.3s ease;
}

.hamburger-nav li a:hover {
    color: var(--primary-color);
    scale: 1.05;
}

.hamburger-nav li a.hamburger__link--btn {
    display: inline-block;
    padding: 0.75em 1.5em;
    /* center the button */
    margin: 0 auto;


    margin-top: 3rem;
    border-radius: 1rem;
    border: 1px solid var(--primary-color);
    text-decoration: none;
    font-weight: bold;
    transition: all 0.4s ease;
}

.hamburger-nav li a.hamburger__link--btn--reverse {
    background-color: var(--primary-color);
    color: var(--white);
    margin-top: 1rem;
}

.hamburger-nav li a.hamburger__link--btn:hover {
    background-color: var(--primary-color);
    color: var(--white);
}

.hamburger-nav li a.hamburger__link--btn--reverse:hover {
    background-color: var(--white);
    color: var(--primary-color);
}

.header {

    background-color: var(--white);
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100000;
    box-shadow: 0 2px 60px rgba(0, 0, 0, 0.2);
}


@media screen and (min-width: 880px) {
    .hamburger {
        display: none;
    }

    .hamburger-nav ul {
        align-items: center;
        flex-direction: row;



    }

    .hamburger-nav li a.hamburger__link--btn {
        margin: 0;
    }

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }



}