:root {
    --primary-color: #303030;
    --secondary-color: #C92F4D;
    --white: #ffffff;
}

/* init sass variables for media queries */
$breakpoint-mobile: 768px;
$breakpoint-tablet: 1200px;

@mixin mobile {
    @media (max-width: $mobile) {
        @content;
    }
}

@mixin tablet {
    @media (max-width: $breakpoint-tablet) {
        @content;
    }
}



@import url(./hamburger.css);
@import url(./style.css);
@import url(./btn.css);

html {
    scroll-behavior: smooth;
    scroll-margin-top: 4rem;
    font-family: 'Open Sans', sans-serif;
}


body {
    margin: 0;
    padding: 0;
    height: 100vh;
}

#main,
#faq,
#form,
#sos,
#cars,
#o-nas,
#specifikace {
    scroll-margin-top: 4.5rem;
}

p {
    margin: 0;
    padding: 0;
    font-size: 1rem;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-family: 'Montserrat', sans-serif;
    margin: 0;
    padding: 0;
    font-weight: normal;
}

.text {
    color: #000;
}

.text--h2 {
    color: #000;

}
.text--big{
    font-size: 1.5rem;
}
.text--h3 {
    font-size: 1.25rem;
    color: #000;
}

.text--h4 {
    color: #000;
}

.text--bold {
    font-weight: 700;
}

.text--center {
    text-align: center;
}


@media screen and (max-width: $breakpoint-mobile) {
   .text--center--off{
    text-align: left;
}
    
}

a {
    text-decoration: none;
}

.highlight {
    color: var(--secondary-color);
}

.img--responsive {
    width: 100%;
    height: auto;
}