:root {
    --primary-color: #303030;
    --secondary-color: #C92F4D;
    --white: #ffffff;
}


@import url(./hamburger.css);
@import url(./style.css);

body {
    margin: 0;
    padding: 0;
    background-color: var(--primary-color);
    height: 100vh;
}